* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url("images/bg.jpg") bottom center;
  background-size: cover;
}
body {
  background: rgba(37, 37, 37, 0.342);
  font-family: "Roboto Slab", serif;
}
.keys {
  display: flex;
  flex: 1;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.219);
  text-shadow: 0 0 0.5rem black;
  transition: 0.4s all ease;
}
.key:hover {
  border: 0.4rem solid rgb(251, 130, 255);
  background: rgba(211, 173, 255, 0.418);
  color: rgb(1, 255, 98);
}

kbd {
  display: block;
  font-size: 4rem;
  cursor: pointer;
  pointer-events: none;
}
.key-name {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #00ffc8;
  pointer-events: none;
  /* cursor: pointer; */
}


.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: aliceblue;
  font-family: 'Abel', sans-serif;
}

